/* Universal and shared styles */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

main {
  margin: auto;
}

.logoNavContainer, .contactItem h2 {
  background-color: cadetblue;
}

.logoContainer h3, nav a, .contactItem h2 {
  color: white;
}

.bannerContainer h1, .contactItem h2 {
  font-weight: bold;
}

.logoNavContainer, main {
  width: 960px;
}

h3, nav li, h1, h2 {
  display: inline-block;
}

.paper, .ruler {
  height: 8rem;
  margin-right: 6rem;
}

.ruler img, .truck img {
  padding-bottom: 2rem;
}

/* flexbox styles */

header, .headerContainer, .logoNavContainer, .logoContainer, main, .serviceContainer, .serviceItem, .contactContainer, footer {
  display: flex;
}

header, .headerContainer, main, .serviceItem {
  flex-direction: column;
}

header, .logoNavContainer, .logoContainer, .serviceItem, footer {
  align-items: center;
}

.bannerContainer {
  align-self: flex-end;
}

.serviceContainer, .contactContainer {
  justify-content: center;
}

.logoNavContainer {
  justify-content: space-between;
}

.serviceItem {
  justify-content: space-around;
}

/* header styles */

header {
  background-image: url("../images_gh/glasses-bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
}

.logoNavContainer {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

.logoContainer img {
  height: 1.5rem;
  padding: 1rem;
}

nav li {
  padding: 1rem;
}

.last {
  display: none;
}

nav a {
  text-decoration: none;
}

.bannerContainer h1 {
  background-color: white;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  position: relative;
  left: 2rem;
}

/* Service Section styles */

.serviceContainer {
  margin-top: 3rem;
}

.serviceItem {
  height: 8rem;
}

.serviceItem img {
  width: 5rem;
}

.paper img {
  padding-bottom: 0.5rem;
  width: 3.5rem;
}

h4 {
  text-align: center;
}

/* Contact Section styles */

.contactContainer {
  margin-top: 3rem;
}

.contactItem {
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 35%;
}

h2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  margin-bottom: 1rem;
  width: 10rem;
}

/* footer styles */

footer {
  background-color: azure;
  margin-top: 5rem;
  padding: 4rem;
}

#footerLogo img {
  height: 1.5rem;
}

h5 {
  margin-left: 1rem;
}
